In [1]:
import pandas as pd 
import numpy as np

In [12]:
size = 100
idade_max = 100
ids = np.arange(1, size+1, 1, dtype=int)
idades = np.random.randint(18, idade_max, size= size)
sinistros = np.random.randint(5, size= size)
premio = np.random.randint(500000, size= size)/100
sexo = np.random.choice(["F", "M"], size = size)
estado_civil = np.random.choice(["Solteiro", "Casado", "Divorciado", "Viuvo"], size = size)

In [19]:
dict = { 'ids': ids,
         'idade': idades,
         'sinistros': sinistros,
         'premio': premio,
         'sexo': sexo,
         'est_civil': estado_civil}

dados = pd.DataFrame(dict)
dados.head()

   ids  idade  sinistros   premio sexo est_civil
0    1     57          3  3747.36    M    Casado
1    2     98          0   457.13    M    Casado
2    3     19          3  3657.68    F    Casado
3    4     68          0  3038.20    M     Viuvo
4    5     26          2  4216.91    M     Viuvo

In [6]:
dados[dados['idade'] > 30]

    ids  idade  sinistros   premio sexo   est_civil
1     2     98          1  2984.89    F  Divorciado
3     4     84          1  3014.20    M    Solteiro
4     5     32          0  2094.40    F    Solteiro
5     6     86          1   576.83    F      Casado
6     7     70          3  3556.00    M  Divorciado
..  ...    ...        ...      ...  ...         ...
95   96     62          3  2934.96    F      Casado
96   97     68          2  3483.89    F       Viuvo
97   98     64          1  3382.84    F       Viuvo
98   99     78          1  3205.48    M       Viuvo
99  100     75          3  2999.93    F  Divorciado

[81 rows x 6 columns]

In [7]:
dados.query("sinistros == 0")

    ids  idade  sinistros   premio sexo   est_civil
0     1     20          0  2298.61    F    Solteiro
4     5     32          0  2094.40    F    Solteiro
13   14     56          0  3821.11    F    Solteiro
27   28     33          0  1574.77    F  Divorciado
34   35     18          0   527.88    F      Casado
36   37     61          0  4340.13    M  Divorciado
39   40     52          0  3042.60    M    Solteiro
40   41     97          0  4566.47    F      Casado
47   48     36          0  1558.52    F      Casado
48   49     95          0  3712.84    M    Solteiro
57   58     53          0  2695.07    F  Divorciado
63   64     19          0  1364.09    M      Casado
76   77     67          0  2900.01    M      Casado
84   85     48          0  1001.67    F       Viuvo
92   93     83          0  3589.31    M  Divorciado

In [8]:
dados[["idade", "premio"]]

    idade   premio
0      20  2298.61
1      98  2984.89
2      18  3319.98
3      84  3014.20
4      32  2094.40
..    ...      ...
95     62  2934.96
96     68  3483.89
97     64  3382.84
98     78  3205.48
99     75  2999.93

[100 rows x 2 columns]

In [21]:
dados['categoria_num'] = np.digitize(dados['idade'], [31, 46])
choicelist = [ 'Jovem', 'Adulto', 'Senior']
condlist = [dados['categoria_num'] == 0, dados['categoria_num']== 1, dados['categoria_num']==2]
dados['categoria_desc1'] = np.select(condlist, choicelist, default= 'nan')

dados["categoria_desc2"] = pd.cut(dados["idade"], [18, 30, 45, idade_max], labels = ["Jovem", "Adulto", "Senior"], include_lowest = True)
dados

,ids,idade,sinistros,premio,sexo,est_civil,categoria_num,categoria_desc1,categoria_desc2
0,1,57,3,3747.36,M,Casado,2,Senior,Senior
1,2,98,0,457.13,M,Casado,2,Senior,Senior
2,3,19,3,3657.68,F,Casado,0,Jovem,Jovem
3,4,68,0,3038.20,M,Viuvo,2,Senior,Senior
4,5,26,2,4216.91,M,Viuvo,0,Jovem,Jovem
...,...,...,...,...,...,...,...,...,...
95,96,56,2,4607.61,M,Casado,2,Senior,Senior
96,97,31,1,2636.01,M,Casado,1,Adulto,Adulto
97,98,79,4,497.14,M,Divorciado,2,Senior,Senior
98,99,97,0,2653.91,M,Viuvo,2,Senior,Senior
99,100,48,0,2275.68,M,Divorciado,2,Senior,Senior

In [22]:
desconto = pd.DataFrame({
'categoria_desc1': ['Jovem', 'Adulto', 'Senior'],
'tx_desconto': [0.05, 0.1, 0.1]
})

dados = pd.merge(dados, desconto, how='left', on='categoria_desc1')

dados['desconto'] = np.where(dados['sinistros'] == 0, dados['premio'] * dados['tx_desconto'], 0)
dados

,ids,idade,sinistros,premio,sexo,est_civil,categoria_num,categoria_desc1,categoria_desc2,tx_desconto,desconto
0,1,57,3,3747.36,M,Casado,2,Senior,Senior,0.10,0.000
1,2,98,0,457.13,M,Casado,2,Senior,Senior,0.10,45.713
2,3,19,3,3657.68,F,Casado,0,Jovem,Jovem,0.05,0.000
3,4,68,0,3038.20,M,Viuvo,2,Senior,Senior,0.10,303.820
4,5,26,2,4216.91,M,Viuvo,0,Jovem,Jovem,0.05,0.000
...,...,...,...,...,...,...,...,...,...,...,...
95,96,56,2,4607.61,M,Casado,2,Senior,Senior,0.10,0.000
96,97,31,1,2636.01,M,Casado,1,Adulto,Adulto,0.10,0.000
97,98,79,4,497.14,M,Divorciado,2,Senior,Senior,0.10,0.000
98,99,97,0,2653.91,M,Viuvo,2,Senior,Senior,0.10,265.391
99,100,48,0,2275.68,M,Divorciado,2,Senior,Senior,0.10,227.568

In [3]:
teste = pd.read_html("https://www2.susep.gov.br/menuestatistica/RankRoubo/resp_menu1.asp", header=0, thousands = '.', decimal = ',')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1129)>